table {
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid green;
 }
 
 th, td {
    border: 1px solid red;
    text-align: right;
 }
 
td{
    text-align: center;
    margin: auto;
}
 td:hover {
    background-color: lightcoral;
    color: white;
 }
 